---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION } from '../consts';

interface Props {
	title: string;
	description?: string;
	showNav?: boolean;
}

const { title, description = SITE_DESCRIPTION, showNav = false } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header showNav={showNav} />
		<main>
			<slot />
		</main>
		<Footer />

		<style>
			main {
				min-height: calc(100vh - var(--spacing-nav) - var(--spacing-footer-height));
			}
		</style>
	</body>
</html>
